@model LogicaNegocio.Dominio.Pais

@{
    ViewData["Title"] = "Delete";
}

<h1>BORRAR</h1>

<h3>ESTAS SEGURO QUE QUIERES BORRAR ESTE PAIS?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pbi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pbi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Poblacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Poblacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bandera)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bandera)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegionId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
